node_modules
dist
.env
.env.local
api/.env
ui/.env.local
npm-debug.log
package-lock.json
package-lock.json
.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/.terraform/providers/
terraform/.terraform/terraform.tfstate
test-terraform
scripts/ssm.sh
scripts/common_commands.txt
scripts/checklist.txt
test_terraform/
